.Sidebar {
  width: 25%;
  height: 669px;
  overflow: auto;
  padding: 0px 30px 30px 30px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  background: #FFF;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -4px 0px 22px 0px rgba(23, 125, 220, 0.15);
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 12px 19px;
}

.classification {
  text-align: left;
  font-size: 14px;
  color: rgba(24, 144, 255, 1);
  line-height: 22px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.radioGroups {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.radioGroup-lint {
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .checkbox {
    width: 100px;
    flex-shrink: 0;
  }
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px !important;
  }
}

.agriculture-box {
  display: flex;
  justify-content: space-between;
}

.digital {
  font-size: 12px;
  color: rgba(82, 196, 26, 1);
}

.ant-col-12 .ant-col-8 {
  text-align: left;
}

.ant-col-8, .ant-col-12, .ant-col-14 {
  margin-bottom: 10px;
  text-align: left;
}

.ant-tabs-nav>.ant-tabs-tab {
  margin: 0;
}

.line {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

table.gridtable {
  width: 300px;
  font-size: 14px;
  color: #000;
  border-collapse: collapse;
  text-align: left;
}

table.gridtable th {
  width: 22px;
  border: 0;
  padding-left: 8px;
}

table.gridtable td {
  padding: 8px;
  border: 0;
}

.ant-modal-title {
  text-align: left;
}

.ant-modal {
  top: 40px;
}

.wage-box {
  display: flex;
  flex-flow: row wrap;
}

.wage {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000;
  cursor: pointer;
  margin: 5px 6px;
}

.wages {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  background: #1890FF;
  color: #FFF;
}

.logynames {
  display: flex;
}

.margintop30 {
  margin-top: 30px;
}

.logyname {
  display: flex;
  width: 300px;
  margin-right: 70px;
  span {
    width: 100px;
    line-height: 30px;
    color: #1890FF;
  }
}

.longname {
  display: flex;
  width: 667px;
  span {
    width: 80px;
    line-height: 30px;
    color: #1890FF;
  }
}

.ecotype {
  text-align: left;
  color: #1890FF;
}

.nextype {
  width: 50%;
  text-align: left;
  margin-left: 70px;
  div {
    margin-top: 10px;
  }
}

.lndependent {
  text-align: left;
  margin-top: 10px;
}

.inputs {
  width: 33px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.icon {
  width: 1.3em;
  height: 1.3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.paging {
  margin-top: 20px;
}